#Diseño1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 10, 10);
}
#Diseño2{
    width: 800px;
    height: 800px;
    background-color: rgb(218, 106, 106);
    position: absolute;
}
#Diseño3{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: rgb(173, 166, 67);
}
#Diseño4{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(85, 216, 81);
}
#Diseño5{
    width: 100px;
    height: 200px;
    position: absolute;
    background-color: rgb(65, 218, 197);
}
#Diseño6{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(149, 60, 221);
}